@mixin mobile-grid{
    $grid-count:9;
    .grid{
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: seagreen;
    }
    @for $i1 from 1 through $grid-count{
        @if $i1 % 2 == 0{
            .n#{$i1}{
                grid-row: round($i1/2)/ span 1;
                grid-column: 3;
                background: rgb(($i1*3), $i1, (($i1+10)*2));
                border: 1px solid black;
                padding: 10px;
                font-size:($i1+14px);
                color: invert(rgb(($i1*3), $i1, (($i1+10)*2)));
            }
        }

        @else {
          .n#{$i1} {
            grid-row: round($i1/2)/ span 1;
            grid-column: 2;
            background-color: rgb((($i1+10)*2), $i1, ($i1*3));
            border: 1px solid black;
            padding: 10px;
            font-size: ($i1+14px);
            color:invert(rgb((($i1+10)*2), $i1, ($i1*3)));
           }
        }
    }
}